body.about {
	nav {
		background-color: $dark-blue;

		a.title {
			color: $off-white;
		}

		a {
			color: $off-white;
		}

		a:hover {
			color: $blue;
		}

		a.active {
			border-bottom: 1px solid $off-white;
		}
	}

	header {
		background-color: $dark-blue;
		position: relative;
		background-image: url('./media/about.png');
		background-size: 50% auto;
		background-repeat: no-repeat;
		background-position: bottom 0px right 4.5rem;

		h2, p.large {
			color: $white;
			z-index: 1;
		}

		.accent {
			color: $grey;
			margin-bottom: 0.5rem;
		}

		p.large {
			margin-top: 1rem;
			max-width: 37.375rem;
		}
	}

	section {
		padding-top: 7.5625rem;
		padding-bottom: 7.5625rem;
		@extend .side-padding;

		div:nth-child(1) {
			float: left;
			width: calc(50% - 6.25rem);
		}

		div:nth-child(2) {
			float: right;
			width: 50%;
		}
	}

	nav.footer {
		background-color: $white;

		a {
			color: $black;
		}

		a:hover {
			color: $grey;
		}
	}
}
