body.about {
	section.intro {
		height: 100vh;
		width: 100vw;

		div.left {
			background-color: $color-p-dark;
				
			h1, p {
				color: $color-p-ultra;
			}

			img.about {
				bottom: 20px;
			    max-width: 250px;
			    position: absolute;
			    left: calc(#{$main-padding} - 20px);
			}
		}

		div.right {
			background-color: $color-white;

			div.container {
				padding-left: $main-padding;
				height: auto;
				width: 90%;
			}
		}
	}
}


