$color-primary: #534D96;
$color-p-dark: #20244B;
$color-p-light: #7B6FC0;
$color-p-super: #C3BCE8;
$color-p-ultra: #E0DCF5;
$color-accent: #F3A897;
$color-a-light: #FFDAC8;
$color-black: #333333;
$color-grey: #DBDBDB;
$color-off-white: #FBF9F9;
$color-white: #FFFFFF;
