// --- Description: applying variables and mixins and adding custom styles
// Table of Contents
//  1. Reset
//  2. Nav
//  3. Header
//  4. Section
//  5. Aside
//  6. Footer
//  7. Form

@import 'global';

// 1. Reset ------

html, body, div {
  font-size: 16px;
  margin: 0;
  padding: 0;
}

html {
  background-color: $color-dark;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

h1, h2, h3, h4, h5, p, li, span, a, em, strong { 
  margin:0;
  font-kerning: normal;
  letter-spacing: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering:optimizeLegibility !important; 
}

a {
  color: $color-primary;
}

@mixin border-box { // makes padding not increase width or height
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;    
  box-sizing: border-box;         
}

.wrapper {
  @include wrapper;
}

a.open,
button.open {
  @include openButton;
}

a.open:hover,
button.open:hover {
  @include hover;
  color: $color-primary;
}

a.open::after,
button.open::after {
  content: $arrow-icon-black;
  margin-left: 0.6875rem // 11px
}

a.open:active,
button.open:active {
  background-color: $color-white;
}

button:focus {
  outline: none;
}

button.white {
  @include whiteButton;
}

button.white:hover {
  @include hover;
  border: 1px solid $color-white;
  background-color: $color-primary;
  color: $color-white;
}

button.white:active {
  border: 1px solid $color-dark;
  background-color: $color-dark;
}

.clear {
  clear: both;
}

div.persona::after {
  content: $persona-icon;
}

// 2. Nav -----------------------------------------------------

nav {
  @include Nav;

  div.logo {
    @include nav-section;
    @include logo;
    border-bottom: $nav-border;
    height: 6.25rem; // 100px
    top: 0;
  }

  div.links {
    @include nav-section;
    top: 100px;
    
    a {
      @include nav-link;
      display: block;
      margin-bottom: 0.875rem; // 14px
    }

    a.active { color: $color-white; }
  }

  div.social {
    @include nav-section;
    border-top: $nav-border;
    bottom: 0;

    div.link { @include nav-social-links; }
    div.link:nth-child(2) { margin: 0 0.6875rem; /* 11px */ }

    div.link.linkedin {
      background-image: $linkedin-icon;
      // background-color:blue;
    }

    p {
      color: $color-off-white;
      font-size: 0.77rem;
      display:inline-block;
      margin-left: 1rem;
      top:-5px;
      // float:right;
      position:relative;
    }

  }

}

div.mobile-nav {
  @include mobile-Nav;
  display:none;
}

// 3. Header ------------------------------

header.intro {
  @include introHeader;
}

header.page {
  @include pageHeader;
}

header.case {
  @include caseHeader;
}

header.resume {
  @include resumeHeader;
}

header.contact {
  @include contactHeader;
}


// 4. Section ----------------------------

section { @include Section; }

section.interests {
  padding-bottom: 5.75rem; // 92px

  h2 {
    color: $color-black;
    margin-top: 22px;
    margin-bottom: 22px;
    max-width: 80%;
  }
}

div.interest-card {
  @include interest-card;

  div.design-illustration {
    @include illustration;
    background-image: $design-illustration;
  }

  div.dev-illustration {
    @include illustration;
    background-image: $dev-illustration;
    background-size: 100%;
    background-position: 135% 27px;
  }

  div.teams-illustration {
    @include illustration;
    background-image: $teams-illustration;
    background-size: 85%;
    background-position: 43% 23px;
  }
}

section.cases {
  @include cases;
}

section.case {
  @include case;
  margin: 0;
}

section.about {
  @include about;
}

section.grey {
  @include GreySection;
}

section.resume {
  @include resume;
}

section.image.wrapper {
  padding: $main-padding 0 0 $main-padding;
}

// 5. Aside -----

aside {
  @include Aside;
}

// 6. Footer -----

footer {
  @include Footer;

  h1 a:hover {
    @include hover;
    color: $color-border;
  }
}

// 7. Form -----

section.contact {
  background-color: $color-dark;

  h2{
    color: $color-primary;
  }

  form {
    @include contactForm;
  }

  div.contact-illustration {
    @include illustration;
    background-image: $contact-illustration;
    background-size: 85%;
    background-position: 43% 23px;
  }
}














