@import 'layout';

// Case Study Footer
body.case footer {
  background-color: $color-p-dark;

  div.wrapper {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }

  div.contact {
    max-width: 70%;
    margin: 0 auto;
    position: relative;

    img {
      max-width: 40%;
    }

    div.text {
      position: absolute;
      right: 0;
      top: 20%;
    }

    h1 {
      color: $color-white;
      margin-bottom: 0;
    }

    a {
      @include p;
      color: $color-white;
    }
  }

  section.next {
    background-color: $color-off-white;
  }

  div.wrapper {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem
  }

  a.flux {
    color: $color-p-dark;
    font-size: 1rem;
    z-index: 2;
  }

  a.previous {
    float: left;
  }

  a.next {
    float:right;
  }
}
