// --- Description: assign variables and mixins
// Table of Contents
//  1. Colors
//  2. Typography
//  3. Assets
//  4. Layout
//  5. Components

// 1. Colors --------------

$color-primary: #57586B;
$color-dark: #1D1E2B;
$color-black: #2B2B2B;
$color-off-white: #F6F6F6;
$color-white: #FFFFFF;
$color-nav-border: #292A3D;
$color-border: #E3E3E3;
$color-grey: #F7FAFB;

// 2. Typograhpy ----------------------------------

$poppins: 'poppins', 'helvetica', 'sans';
$poppins-bold: 'poppins-bold', 'helvetica', 'sans';
$freight:'freight', 'garamond', 'sans-serif';
$lora-italic: 'lora-italic', 'sans-serif';

@font-face {
  font-family: 'poppins';
  src: url(./media/fonts/poppins-light.ttf) format('truetype');
}

@font-face {
  font-family: 'poppins-bold';
  src: url(./media/fonts/poppins-medium.ttf) format('truetype');
}

@font-face {
  font-family: 'freight';
  src: url(./media/fonts/freight.otf) format('opentype');
}

@font-face {
  font-family: 'lora-italic';
  src: url(./media/fonts/lora-italic.ttf) format('truetype');
}

@mixin h1 {
  color: $color-black;
  font-family: $freight;
  font-size: 2.9375rem; // 47px
  line-height: 3.25rem; // 52px
}

@mixin h2 {
  color: $color-black;
  font-family: $freight;
  font-size: 2.0625rem; // 33px
  line-height: 2.625rem; // 42px
}

@mixin h3 {
  color: $color-black;
  font-family: $freight;
  font-size: 1.6875rem; // 27px
  line-height: 2.1875rem; // 35px
}

@mixin subhead {
  color: $color-black;
  font-family: $poppins-bold;
  font-size: 1.25rem; // 20px
  line-height: 2rem; // 32px
}

@mixin p-large {
  @include subhead;
  font-family: $poppins;
}

@mixin p-small {
  color: $color-black;
  font-family: $poppins;
  font-size: 0.75rem; // 12px
  line-height: 1.125rem; // 18px
}

@mixin p {
  color: $color-black;
  font-family: $poppins;
  font-size: 1rem; // 16px
  line-height: 1.625rem; // 26px
}

@mixin strong {
  font-family: $poppins-bold;
}

@mixin p-note {
  color: $color-black;
  font-family: $lora-italic;
  font-size: 0.9375rem; // 15px
  line-height: 1.4375rem; // 23px
}

@mixin nav-link {
  color: $color-primary;
  font-family: $poppins-bold;
  font-size: 0.9375rem; //15px
  line-height: 1.4375rem; // 23px
  text-transform: uppercase;
  text-decoration: none;
}

@mixin nav-link-mobile {
    font-size: 1.25rem; // 20px
    line-height: 2rem; // 32px
}

@mixin button-text {
  color: $color-dark;
  font-family: $poppins;
  font-size: 1rem; //16px
  line-height: 1.5rem; // 24px
}

@mixin h1-massive {
  @include h1;
  display: inline-block;
  font-size: 12.5rem; // 200px
  line-height: 7.8125rem; // 125px;
  position:absolute;
  top:22%;
  text-align: center;
  width: 10.5625rem; // 169px
}

@mixin small-header {
  @include p;
  line-height: 1.5rem; // 24px
}

h1 { @include h1; }
h2 { @include h2; }
h3 { @include h3; }
p { @include p; }
strong { @include strong; }
.subhead { @include subhead; }
.large { @include p-large; }
.small { @include p-small; }
.small-header { @include button-text; }
.number { @include h1; }
.note { @include p-note; }

// 3. Assets ------------------------------------------

$header-illustration: url('./media/images/illustration-header.png');
$design-illustration: url('./media/images/illustration-design.png');
$dev-illustration: url('./media/images/illustration-dev.png');
$teams-illustration: url('./media/images/illustration-teams.png');
$meet-simplete-hero: url('./media/images/meet-simplete-hero.png');
$meet-simplete-mobile: url('./media/images/meet-simplete-mobile.png');
$meet-simplete-tablet: url('./media/images/meet-simplete-tablet.png');
$state-hero: url('./media/images/state-hero.png');
$state-home: url('./media/images/state-home.png');
$state-benefits: url('./media/images/state-benefits.png');
$state-focus: url('./media/images/state-focus.png');
$state-retention: url('./media/images/state-retention.png');
$state-old-1: url('./media/images/state-old-1.png');
$state-old-2: url('./media/images/state-old-2.png');
$state-new: url('./media/images/state-new.png');
$arrow-icon: url('./media/images/arrow.svg');
$arrow-icon-black: url('./media/images/arrow-black.svg');
$persona-icon: url('./media/images/persona.svg');



@mixin illustration {
  background-color: $color-dark;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius:200px;
  display:inline-block;
  height:250px;
  width:250px;
}

@mixin drop-shadow {
  -webkit-box-shadow: 7px 7px 27px 7px rgba(210,210,210,1);
  -moz-box-shadow: 7px 7px 27px 7px rgba(210,210,210,1);
  box-shadow: 7px 7px 27px 7px rgba(210,210,210,1);
}

@mixin screen {
  @include drop-shadow;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 0.6875rem; // 11px
  display:inline-block;
  height:0;
  margin-bottom: 8.5625rem; // 137px
  width:100%;
}

@mixin tablet {
  @include screen;
  background-size:contain;
  width: 55%;
}

@mixin mobile {
  @include screen;
  background-size:contain;
  position:absolute;
  width: 25%;
}

@mixin snippet {
  @include screen;
  background-size:contain;
  margin-bottom: 0;
}

@mixin old-snippet {
  @include snippet;
  width: 37%;
  margin-bottom: 2.5rem; // 40px
}

.screen, .tablet, .mobile, .snippet, .old-snippet { 
  @include screen;
  position: relative;
  p {
    position: absolute;
    top: -2.5rem; // -40px
  }
}

.tablet, .mobile {
  margin-right: 50px;
}

.old-snippet {
  margin-right: 5%;
}

.tablet { @include tablet; }
.mobile { @include mobile; }
.old-snippet { @include old-snippet; }

div.meet-simplete-hero {
  background-image: $meet-simplete-hero;
  padding-top: 49.833887%; // image height / image width * 100
}

div.meet-simplete-tablet {
  background-image: $meet-simplete-tablet;
  // padding-top: 66.7%;
  padding-top: 73.3%;
}

div.meet-simplete-mobile {
  background-image: $meet-simplete-mobile;
  // padding-top: 43.5%;
  padding-top: 54.3%;
}

div.meet-simplete-video {
  @include screen;
  @include drop-shadow;
  background-image: url("./media/images/meet-simplete-video.mov");
  height:600px;
}

div.state-hero {
  background-image: $state-hero;
  padding-top: 60%; // image height / image width * 100
}

div.state-home {
  background-image: $state-home;
  padding-top: 42.38830872%; // image height / image width * 54
}

div.state-benefits {
  background-image: $state-benefits;
  padding-top: 26.3221758%; // image height / image width * 54
}

div.state-focus {
  background-image: $state-focus;
  padding-top: 25.3054395%; // image height / image width * 54
}

div.state-retention {
  background-image: $state-retention;
  padding-top: 26.4351465%; // image height / image width * 54
}

div.state-old-1 {
  background-image: $state-old-1;
  padding-top: 25.01704532%; // image height / image width * 37
}

div.state-old-2 {
  background-image: $state-old-2;
  padding-top: 25.01704532%; // image height / image width * 37
}
div.state-new {
  background-image: $state-new;
  padding-top: 63%; // image height / image width * 54
  width: 80%;
}

// 4. Layout -------------------------

$main-padding: 4.375rem; // 70px

@mixin wrapper {
  @include border-box;
  padding: $main-padding;
  float:right;
  width: calc( 100vw - #{$nav-width} );
}

@mixin vertical-center {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

// 5. Components ------------------------------

// hover 

@mixin hover {
  -o-transition: all .1s ease-in-out;
  -ms-transition: all .1s ease-in-out;
  -moz-transition: all .1s ease-in-out;
  -webkit-transition: all .1s ease-in-out;
}


// navigation

$nav-border: 1px solid $color-nav-border;
$nav-padding: 1.9375rem 1.4375rem; //31px, 23px
$nav-width: 15.625rem; // 202px

@mixin Nav {
  background-color: $color-dark;
  border-right: $nav-border;
  height: 100vh;
  position: fixed;
  width: $nav-width;
  z-index: 1;
}

@mixin nav-section {
  @include border-box;
  padding: $nav-padding;
  position: absolute;
  width: 100%;
}

@mixin nav-social-links {
  background-color:$color-off-white;
  border-radius: 100px;
  display:inline-block;
  height: 1.125rem; // 18px
  width: 1.125rem; // 18px

  div.link:nth-child(2) {
    margin: 0 0.6875rem; // 11px
  }
}

// Mobile Nav

$mobile-nav-width: 24px;

@mixin mobile-Nav {
  position: fixed;
  right: $main-padding;
  top: $main-padding;
  width: $mobile-nav-width;
  z-index: 3;
  mix-blend-mode: difference;

  div.line {
    background-color: $color-off-white;
    border-radius:10px;
    float:right;
    margin-bottom: 7px;
    height: 2px;
    width: 100%;
  }

  div.line:nth-child(1) {
    width:67%;
  }

  div.close {
    display:none;
    height: $mobile-nav-width;
    position:relative;
    top:-7px;
    width: $mobile-nav-width;
  }
}

// Header

$header-background: $color-dark;

@mixin introHeader {
  @include border-box;
  background-color: $header-background;
  height: 100vh;

  div.header-text { 
    height: 11.5625rem;
    top: calc(50vh - (11.5625rem / 2) );
    max-width: 28.125rem; // 450px
    position: relative;

    h1 {
      color:$color-off-white;
    }

    p.subhead {
      color:$color-off-white;
      margin-top: 1.125rem; // 18px
    }
  }

  div.header-illustration {
    @include illustration;
    background-image: $header-illustration;
    border-radius: 0;
    float: right;
    height: 598.67256638px;
    width: 550px;
  }
}

@mixin pageHeader {
  @include border-box;
  height:15.75rem; // 252px
  padding: 8.9375rem 4.375rem 3.5625rem 4.375rem; // 143px 70px 57px 70px 

  h1 {
    color: $color-off-white;
  }
}

@mixin caseHeader {
  @include border-box;
  background-color: $color-white;
  padding-top: 6.6875rem; // 107px

  p.small-header {
    margin-bottom: 1.1875rem; // 19px
  }

  h1 {
    color: $color-primary;
    margin-bottom: 1.1875rem; // 19px
  }

  p.subhead {
    margin-bottom: 0.4375rem; // 7px
  }

  p.large {
    margin-bottom: 5.484375rem; // 87.75px
  }

  div.line {
    background-color: $color-primary;
    height: 2px;
    width: 2.296875rem; // 36.75px
  }
}

// Section

@mixin Section {
  @include border-box;
  background-color: $color-white;
  margin-bottom: 10px;

  span {
    color: $color-primary;
  }
}

@mixin interest-card {
  margin-top: 7.375rem; // 118px
  position:relative;

  div.text-container {
    max-width: 750px;
    display: inline-block;
    margin-left: 50px;
    top: 18%;
    position: absolute;

    h3 { 
      color: $color-primary;
      margin-bottom: 10px;
    }

    p.bottom {
      margin-top: 21px;
    }
  }
}

$case-section-padding: 6.25rem; // 100px

@mixin cases { // page displaying all cases
  padding: 0 $case-section-padding 10.5rem /* 168px */ $case-section-padding;

  h1.massive {
    @include h1-massive;
  }

  .case-card {
    margin-top: 10.5rem; // 168px
    position: relative;

    .text-container {
      display: inline-block;
      max-width: 39rem; // 624px
      margin-left: 260px;

      h2 {
        color: $color-primary;
        margin-bottom: 1.0625rem // 17px
      }

      p.subhead {
        margin-bottom: 0.4375rem; // 7px
      }

      p.large {
        margin-bottom: 1.875rem; // 30px
      }
    }
  }
}

@mixin case { // individual case pages
  padding-top: 1.4375rem; // 23px

  div.container {
    margin-bottom: 5.8125rem; // 93px
    height: auto;
    position:relative;

    h2 {
      color: $color-primary;
      margin-bottom: 1rem; // 16px
    }

    p {
      margin-bottom: 0.875rem; // 14px
    }

    p.subhead {
      margin-top: 4.5625rem; // 73px
    }

    p.note {
      @include vertical-center;
      top: 60%;
    }

    .left {
      @include border-box;
      float:left;
      margin-right: 4%;
      width: 48%;
    }

    .right {
      @include border-box;
      float:right;
      width: 48%;
    }

    .left-30 {
      @extend .left;
      width: 30%;
      height:auto;
    }

    .left-30 + .right {
      width: 66%;
    }

    .left-40 {
      @extend .left;
      width: 40%;
      height:auto;
    }

    .left-40 + .right {
      width:54%;
    }

    div.stats {
      border-left: 1px solid $color-border;
      padding-left: 2.71875rem; // 43.5px

      div.row {
        height: auto;
        margin-bottom: 0.875rem; // 14px
        position: relative;

        p.number {
          min-width: 8.9375rem; // 143px
        }
        p {
          display: inline-block;
          margin-bottom: 0;
        }
        div.persona {
          @include vertical-center;
          display: inline-block;
          position: absolute;
        }
        div.persona + p {
          margin-left: 6.375rem;
        }
      }
    }
  }

  div.container.text-photo {
    margin-bottom: 0;

    .text-container {
      @include vertical-center;
      top:40%;
    }

    p.subhead {
      margin-top: 0;
    }
  }

  div.multiple-screens {
    position:relative;
    margin-top:10rem;
    width:100%;
  }

  div.collection {
    position:relative;
    margin-top:2rem;
    width:100%;
  }

  video {
    border-radius: 0.6875rem; // 11px
    margin-bottom: 8.5625rem; // 137px
    width:100%;
  }
  video:focus {
    // outline:none;
  }
}

@mixin about {
  h2 {
    color: $color-primary;
    margin-bottom: 1.875rem // 30px
  }

  p {
    margin-bottom: 1.25rem; // 20px
  }
}

// Button

@mixin openButton {
  @include border-box;
  @include button-text;
  border: none;
  background-color: transparent;
  border-bottom: 1px solid transparent;
  color: $color-off-white;
  outline:none;
  padding:0;
}

@mixin whiteButton {
  @include border-box;
  @include button-text;
  background-color: $color-white;
  border: 1px solid $color-primary;
  border-radius: 4px;
  padding: 0.875rem 1.75rem; // 14px 28px
}

// Aside

@mixin Aside {
  @include case;
  background-color: $color-grey;

  div.multiple-screens {
    margin-top:2rem;
  }
}

// Footer

@mixin Footer {
  @include border-box;
  height:26.6875rem; // 427px
  padding-top: 5.6875rem !important; // 91px
  position:relative;

  h1 {
    color: $color-off-white;
    margin-top: 1.125rem; // 18px

    a {
      border-bottom: 2px solid transparent;
    }
  }
}








