// Reset
html, body, h1, h2, h3, h4, h5, p, div, ul, li, span {
  -webkit-font-smoothing: antialiased;
  margin: 0;
  padding: 0;
}

html {
	font-size: 16px;
}

div {
	box-sizing: border-box;
}

@mixin hover {
  -o-transition: all .2s ease-in-out;
  -ms-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -webkit-transition: all .2s ease-in-out;
}

// Colors
$dark: #22232B;
$dark-blue: #22273A;
$black: #333333;
$grey: #B1B4BA;
$light-grey: #CBCBCB;
$light-blue: #E7EAF1;
$off-white: #FBF9F9;
$white: #FFFFFF;
$blue: #5890FF;
$red: #F59090;

// Typography ----- ( Merriweather + Work Sans Google fonts )
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&family=Work+Sans:wght@300;400;500;600&display=swap');
$font-heading: 'Merriweather', 'Times', 'Times New Roman', 'serif';
$font-body: 'Work Sans', 'Helvetica', 'sans-serif';

::selection {
  background: $blue;
  color: $off-white;
}

h1 {
	font-family: $font-heading;
	font-size: 3rem;
	line-height: 4rem;
	color: $dark;
	font-weight: 300;
	letter-spacing: 0;
}

.accent {
	color: $grey;
}

h2 {
	font-family: $font-heading;
	font-size: 2rem;
	line-height: 3rem;
	color: $black;
	font-weight: 300;
	letter-spacing: 0;
}

h3 {
	font-family: $font-heading;
	font-size: 1.5rem;
	line-height: 2.5rem;
	color: $black;
	font-weight: 300;
	letter-spacing: 0;
}

h4 {
	font-family: $font-heading;
	font-size: 1.25rem;
	line-height: 1.5rem;
	color: $black;
	font-weight: 500;
	letter-spacing: 0;
}

p.large {
	font-family: $font-body;
	font-size: 1.1875rem;
	line-height: 2rem;
	color: $black;
	font-weight: 300;
	letter-spacing: 0;
}

.title {
	font-family: $font-heading;
	// font-size: 0.9375rem;
	// line-height: 1.9375rem;
	color: $black;
	font-size: 1.5rem;
	line-height: 2.5rem;
	font-weight: 300;
	margin: 0;
	text-decoration: none;
	cursor: pointer;
	@include hover;
}

p {
	font-family: $font-body;
	font-size: 1rem;
	line-height: 2rem;
	color: $black;
	font-weight: 300;
	letter-spacing: 0;
}

p.overline {
	@extend p;
	font-weight: 400;
}

a:visited {
	text-decoration: none;
	color: $black;
}

// Spacing
@mixin vertical-center {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.side-padding {
	padding-left: 2.37rem;
	padding-right: 2.37rem;
}

div.clear {
	clear: both;
}

// Reusable Blocks 
.full {
	padding: 0;
}

div.numbers {
	display: inline-block;

	p.large {
		margin-bottom: 3rem;
		min-width: calc(50% - 9.125rem);
		position: relative;
		padding-left: 4.625rem;

		span {
			text-decoration: underline;
			font-weight: 400;
		}
	}

	p.large.left {
		float: left;
	}

	p.large.right {
		float: right;
	}

	p.large::before {
		color: $blue;
		border: 2px solid $blue;
		border-radius: 100px;
		margin-right: 1.5rem;
		position: absolute;
		left: 0;
		// top: -7px;
		@extend h4;
	}

	p.large:nth-child(1)::before {
		content:"1";
		padding: 10px 18px !important;
	}

	p.large:nth-child(2)::before {
		content:"2";
		padding: 10px 17px !important;
	}

	p.large:nth-child(3)::before {
		content:"3";
		padding: 10px 17px !important;
	}

	p.large:nth-child(4)::before {
		content:"4";
		padding: 10px 16px !important;
	}
}

button {
	@extend p;
	font-weight: 400;
	padding: 0.5rem 1rem !important;
	border: 1px solid $off-white;
	border-radius: 0;
	cursor: pointer;
	margin-top: 3.125rem;
}

footer {
	background-color: #202233;
	padding-top: 3rem;
	padding-bottom: 3rem;
	@extend .side-padding;
	background-image: url('./media/footer.png');
	background-size: 350px auto;
	background-repeat: no-repeat;
	background-position: bottom 0px right 4.5rem;
	height: 300px;

	h2 {
		color: $off-white;
	}

	button {
		@extend p;
		margin-top: 3.125rem;
	}
}







