body.home {
	section.intro {
		height: 100vh;
		width: 100vw;

		div.left {
			background-color: $color-off-white;
			display: inline-block;
			height: 100vh;
			width: 50vw;
			left: 0;
			@include wrapper;

			div.container {
				padding-right: $main-padding;
			}

			div.social {
				margin-top: 1.875rem;
			}
		}

		div.right {
			background-color: $color-p-dark;
			display: inline-block;
			height: 100vh;
			width: 50vw;
			position: absolute;
			right: 0;
			@include wrapper;

			div.container {
				position: absolute;
				width: 100%;
				height: 1.5rem;
				left: 0;
				
				a.flux {
					color: $color-p-ultra;
					padding: 0.9375rem 0.125rem;
					cursor: pointer;
				}

				a.flux.work {
					position: absolute;
					left: $main-padding;
				}

				a.flux.about {
					position: absolute;
					right: $main-padding;
				}

				a.flux:hover {
					border-bottom: 1px solid $color-white;
					color: $color-white;
				}
			}

			img {
				position: absolute;
				left: 0;
				right: 0;
				bottom: 0;
				margin: auto;
				width: 100%;
				max-width: 50rem;
			}
		}
	}
}
