header {
	margin: 0 auto;
	padding-top: 9.5rem;
	padding-bottom: 9.5rem;
	@extend .side-padding;
}

@mixin thumbnail {
	background-repeat: no-repeat;
	background-position: top;
	background-size: 100% auto;
	cursor: pointer;
}

section.recent-work {
	padding: 4rem 0 3rem 0;
	display: grid;
	grid-gap: 0;

	div.top {
		padding-top: 0;
		padding-bottom: 48px;
		@extend .side-padding;
		grid-column-start: 1;
		grid-column-end: 3;
		grid-row-start: 1;
		grid-row-end: 1;
	}

	div.box {
		div.caption {
			margin-top: 2.5rem;
			margin-bottom: 3rem;
			text-align: center;
		}
		div.image {
			height: 27.3125rem;
		}
	}

	div.box.one {
		grid-column-start: 1;
		grid-column-end: 3;
		grid-row-start: 2;
		grid-row-end: 3;
		div.image {
			background-image: url('./media/rework-header.png');
			background-color: $dark-blue;
			@include thumbnail;
		}
	}

	div.box.two {
		grid-column-start: 1;
		grid-column-end: 2;
		grid-row-start: 3;
		grid-row-end: 4;
		div.image {
			background-image: url('./media/chat-header.png');
			background-color: $off-white;
			@include thumbnail;
		}
	}

	div.box.three {
		grid-column-start: 2;
		grid-column-end: 3;
		grid-row-start: 3;
		grid-row-end: 4;
		div.image {
			background-image: url('./media/coming-soon.png');
			background-color: $off-white;
			@include thumbnail;
			background-position: center;
		}
	}

	h4 {
		display: inline-block;
		cursor: pointer;
		@include hover;
	}

	h4:hover {
		color: $grey;
	}
}

section.other-design-work {
	padding-top: 4rem;
	padding-bottom: 3rem;
	@extend .side-padding;
	display: none;

	div.top {
		padding-bottom: 3rem;
	}

	div.container {
		display: grid;
		grid-gap: 1.5rem;
	}

	div.snip {
		box-sizing: border;
		background-color: green;
		height: 0;
		padding-bottom: 73%;
		width: 100%;
	}

	div.snip.one {
		grid-column-start: 1;
		grid-column-end: 2;
		grid-row-start: 1;
		grid-row-end: 2;
	}

	div.snip.two {
		grid-column-start: 2;
		grid-column-end: 3;
		grid-row-start: 1;
		grid-row-end: 2;
	}

	div.snip.three {
		grid-column-start: 3;
		grid-column-end: 4;
		grid-row-start: 1;
		grid-row-end: 2;
	}

	div.snip.four {
		grid-column-start: 4;
		grid-column-end: 5;
		grid-row-start: 1;
		grid-row-end: 2;
	}

	div.snip.five {
		grid-column-start: 1;
		grid-column-end: 2;
		grid-row-start: 2;
		grid-row-end: 3;
	}

	div.snip.six {
		grid-column-start: 2;
		grid-column-end: 3;
		grid-row-start: 2;
		grid-row-end: 3;
	}

	div.snip.seven {
		grid-column-start: 3;
		grid-column-end: 4;
		grid-row-start: 2;
		grid-row-end: 3;
	}

	div.snip.eight {
		grid-column-start: 4;
		grid-column-end: 5;
		grid-row-start: 2;
		grid-row-end: 3;
	}
}
