$main-padding: 4.375rem;

html {
	background-color: $color-off-white;
  font-size: 16px;
  overflow: hidden;
}

::selection {
  background: $color-primary;
  color: $color-off-white;
}

.fade {
  display: none;
}

.slideIn {
  right: -50vw;
}

div.clear {
	clear: both;
}

div.grain {
  position: fixed;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-image: url('./media/images/grain.gif');
  opacity: 0.03;
  z-index: 2;
}

@mixin wrapper {
  padding: 0 $main-padding;
  position: absolute;
  box-sizing: border-box;
}

@mixin vertical-center {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

@mixin hover {
  -o-transition: all .2s ease-in-out;
  -ms-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -webkit-transition: all .2s ease-in-out;
}

div.wrapper {
  z-index: 2;
  @include wrapper;
}

div.container {
  z-index: 2;
  @include vertical-center;
}

div.blue {
  background-color: $color-p-dark;
  position: fixed;
  height: 100vh;
  width: 0;
  right:0;
  bottom:0;
  z-index: 1;
}

div.white {
  background-color: $color-off-white;
  position: fixed;
  height: 100vh;
  width: 0;
  left:0;
  bottom:0;
  z-index: 1;
}

.fading {
  background: url(data:image/svg+xml;base64,alotofcodehere);
    background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(255,255,255,1) 70%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0)), color-stop(70%,rgba(255,255,255,1)));
    background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 70%);
    background: -o-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 70%);
    background: -ms-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 70%);
    background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 70%);
}
