@media only screen and (max-width:1170px) { // smaller browser
	body.home section.intro div.left {
		top:0;
		height: 50vh;
		width: 100vw;
	}
	body.home section.intro div.right {
		bottom:0;
		height: 50vh;
		width: 100vw;
	}
	body.about section.intro div.left {
		position: relative;
		height: auto;
		padding: $main-padding;

		div.container {
			position: relative;
			transform: translateY(0rem);
			margin-top: 17%;
		}
		img.about {
			bottom: 0;
			left: -1.2rem;
			margin-top: 3rem;
			position: relative;
		}
	}
	body.about section.intro div.right {
		position: relative;
		height: auto;
		padding: $main-padding;

		div.container {
			position: relative;
			transform: translateY(0);
			padding: 0;
			width: 100%;
		}
	}
	body.about nav div.close div {
		background-color: $color-white;
	}
}

@media only screen and (max-width:600px) { // all mobile
	html {
	  font-size: 12px;
	}
	body.home section.intro div.right,
	body.home section.intro div.left {
		padding: $main-padding 1.875rem;
	}
	body.home section.intro div.left div.container {
		padding-right: 1.875rem;
	}
	body.home section.intro div.right div.container a.flux.work {
		left: 1.875rem;
	}
	body.home section.intro div.right div.container a.flux.about {
		right: 1.875rem;
	}
}

@media only screen and (max-width:412px) { // smaller mobile 
	body.home section.intro div.right div.container.links {
		top: 5.5rem;
	}
	body.home section.intro div.right div.container a.flux.work,
	body.home section.intro div.right div.container a.flux.about {
		position: relative;
		display: block;
		left: 1.875rem;
		margin-bottom: 1.5rem;
	}
}

@media only screen and (max-width:320px) { // xsmall mobile
	body.home section.intro div.left {
		height: 60vh;
	}
	body.home section.intro div.right {
		height: 40vh;
	}
}
