@import 'global';

@media only screen and (max-width:1024px) { // iPad Pro

  nav { 
    right:0;
    border-left: $nav-border;
    width:0;

    div.logo {
      height: 150px; // 100px
      border-bottom: none;
    }

    div.links {
      top: 150px;

      a {
        @include nav-link-mobile;
      }
    }
  }

  div.mobile-nav { display: block; }
  .wrapper { width: 100vw }

  header.intro {
    div.header-text {
      top: 10vh;
    }

    div.header-illustration {
      margin-top: 1vh;
    }
  }

  header.resume {
    p {
      margin-bottom: 2.2rem;
    }
    button.white {
      position: relative;
      top: 0;
      right: 0;
      margin-bottom: 4rem;
      margin-top: 0;
    }
  }

  section.resume.wrapper {
    padding-top: 2.2rem;
  }
}

@media only screen and (max-width:769px) { // iPad normal
  section.interests h2 { max-width: 100%; }

  header.intro {
    div.header-illustration {
      margin-top: 5vh;
    }
  }

  div.interest-card {
    margin-bottom:70px;

    div.design-illustration,
    div.dev-illustration,
    div.teams-illustration {
      display: block;
      margin: 0 auto;
    }

    div.text-container {
      display: block;
      margin: 50px 0 0 0;
      // max-width: 500px;
      position: relative;
    }

    div.interest-card {
      div.text-container {
        text-align: left;

        p.large {
          @include p;
        }

        p.bottom {
          @include p-small;
        }
      }
    }
  }

  section.cases {
    div.case-card {
      h1.massive {
        display: block;
        position: relative;
        text-align: left;
      }

      div.text-container {
        display: block;
        margin-left: 0;
        margin-top:50px;
      }
    }
  }

  section.case {
    div.container {
      .left, .right {
        float:none;
        width:100%;
      }

      .Right {
        margin-top: 5.0625rem; // 81px
      }

      .stats {
        margin-top: 2rem;
      }

      .left-30 + .right,
      .left-40 + .right,
      .left-40 {
        width:100%;
        margin-bottom: 2rem;
      }

      .left-40 + .right {
        margin-top: 2rem;
      }

      .left-60 {
        padding: 0;
      }

      .left-60 p.description {
        max-width: 100%;
      }

      .left-60 + .right {
        width: 100%;
      }

      p.note,
      div.text-container.left-40 {
        position:relative;
        top:0;
        transform: translateY(0);
      }

      div.text-container.left-40 {
        p.subhead {
          margin-top: 4.5625rem; // 73px
        }
      }

      div.state-home {
        padding-top: 78.496868%; // image height / image width * 54
      }

      div.state-benefits {
        padding-top: 48.74477%; // image height / image width * 54
      }

      div.state-focus {
        padding-top: 46.861925%; // image height / image width * 54
      }

      div.state-retention {
        padding-top: 48.953975%; // image height / image width * 54
      }

    }

  }

  aside {
    div.collection {
      .old-snippet {
        width: 45%;
      }

      .state-old-2 {
        margin-right: 0;
      }
      .state-new {
        width: 100%;
      }
    }
  }

}

@media only screen and (max-width:415px) { // all mobile
  html { font-size: 14px; }

  $mobile-main-padding: 37px;

  .wrapper {
    padding: $mobile-main-padding;
  }

  section.image.wrapper {
    padding: $mobile-main-padding 0 0 $mobile-main-padding;
  }

  header.page { 
    padding: 8.9375rem $mobile-main-padding 3.5625rem $mobile-main-padding;
  }

  div.mobile-nav { 
    right: $mobile-main-padding;
    top: $mobile-main-padding;
  }

  header.intro {
    div.header-text {
      top: 5.5vh;
    }

    div.header-illustration {
      margin-top: 18vh;
      height: 272.12px;
      width: 250px;

    }
  }

  section.cases {
    padding: 0 $mobile-main-padding 10.5rem /* 168px */ $mobile-main-padding;
  }

  section.resume div.details div.list:nth-of-type(2) {
    div.column:nth-of-type(1) {
      margin-right: 4rem;
    }

    div.column:nth-of-type(2) {
      margin-right: 0;
    }
    margin-right: 3rem;
  }

}

@media only screen and (max-width:415px) { // iphone 5/SE 
  section.resume div.details div.list div.column {
    display: block;
  }

}