@import 'global';

@media only screen and (max-width:1024px) { // iPad Pro
  nav { 
    right:0;
    border-left: $nav-border;
    width:0;

    div.logo {
      height: 150px; // 100px
      border-bottom: none;
    }

    div.links {
      top: 150px;
    }
  }
  div.mobile-nav { display: block; }
  .wrapper { width: 100vw }
}

@media only screen and (max-width:769px) { // iPad normal
  section.interests h2 { max-width: 100%; }

  div.interest-card {
    margin-bottom:70px;

    div.design-illustration,
    div.dev-illustration,
    div.teams-illustration {
      display: block;
      margin:0 auto;
    }

    div.text-container {
      display: block;
      margin: 50px auto 0 auto;
      max-width: 500px;
      position: relative;
      text-align: center;
    }
  }

}

@media only screen and (max-width:415px) { // all mobile
  html { font-size: 14px; }

  $mobile-main-padding: 37px;

  .wrapper { padding: $mobile-main-padding; }

  div.mobile-nav { 
    right: $mobile-main-padding;
    top: $mobile-main-padding;
  }

  header.intro {
    div.header-text {
      top: 20vh;
    }

    div.header-illustration {
      margin-top: 30vh;
      height: 272.12px;
      width: 250px;

    }
  }

  div.interest-card div.text-container p.large {
    @include p;
  }

  div.interest-card div.text-container p.bottom {
    @include p-small;
  }

}