@import 'layout';

nav	{
  box-sizing: border-box;
  padding: 1rem 1.5rem;
  position: fixed;
  width: 100%;
  z-index: 3;

  div.close {
    height: 1.25rem;
    width: 1.25rem;
    right: 1.5rem;
    @include vertical-center;

    div {
      border-radius: 3px;
      background-color: $color-black;
      height: 0.15625rem;
      width: 1.4375rem;
      position: absolute;
      top: 45%;
      left: -0.10625rem;
      right: 0;
    }
    div:nth-child(1) {
      transform: rotate(45deg);
    }
    div:nth-child(2) {
      transform: rotate(135deg);
    }
  }
}

@mixin p-name {
  color: $color-off-white;
  font-family: $gilroy-bold;
  font-size: 1.125rem;
  line-height: 120%;
  letter-spacing: -1%;
}

@mixin p-job {
  color: $color-off-white;
  font-family: $gilroy-light;
  font-size: 1.0625rem;
  line-height: 120%;
  letter-spacing: -1.5%;
}

p.name { @include p-name; }
p.job { @include p-job; }

@mixin nav-dark {
  p.name { color: $color-p-dark; }
  p.job { color: $color-p-dark; }
  div.close div { background-color: $color-p-dark; }
}

// Work page
body.work nav {
  div.close div { background-color: $color-off-white; }
}

// About page
body.about nav {
  p.name { color: $color-off-white; }
  p.job { color: $color-off-white; }
  div.close div { background-color: $color-p-dark; }
}
body.about nav.dark {
  @include nav-dark;
}

// Case pages
body.case nav {
  p.name { color: $color-off-white; }
  p.job { color: $color-off-white; }
  div.close div { background-color: $color-off-white; }
}
body.case nav.dark {
  @include nav-dark;
}
