nav {
	padding-top: 1.775rem;
	padding-bottom: 1.775rem;
	@extend .side-padding;

	.title {
		display: inline-block;
	}

	div.links {
		display: inline-block;
		float: right;
	}

	a {
		font-family: $font-body;
		font-size: 1rem;
		line-height: 2rem;
		color: $black;
		font-weight: 500;
		letter-spacing: 0;
		text-decoration: none;
		padding-bottom: 0.5rem;
		cursor: pointer;
		@include hover;
		margin: 0 0.9375rem;
	}

	a:hover {
		color: $blue;
	}

	a.title:hover {
		color: $blue;
	}

	a.active {
		border-bottom: 1px solid $black;
	}

	a.active:hover {
		border-bottom: 1px solid $blue;
	}
}

nav.footer {
	background-color: $white;

	a {
		float: right;
		margin: 0 0.9375rem;
	}

	a.left {
		float: left;
		margin: 0;
	}
}

nav.mobile {
	box-sizing: border-box;
	background-color: $dark-blue;
	position: fixed;
	height: 100%;
	width: 100%;
	left: 100vw;
	z-index: 100;

	div.close {
		height: 24px;
		width: 100%;
		position: relative;
		display: block;
		top: 5px;

		div.line {
			background-color: $off-white;
			border-radius: 100px;
			height: 3px;
			width: 24px;
			position: absolute;
			right: 0;
			top: 50%;
		}

		div.line:nth-child(1) {
			transform: rotate(45deg);
		}

		div.line:nth-child(2) {
			transform: rotate(-45deg);
		}
	}

	.title {
		display: block;
		float: none;
		text-align: right;
		color: $off-white;
		margin: 7rem 0 0 0;
	}

	div.links {
		display: block;
		float: none;

		a {
			@extend h3;
			margin: 1rem 0 0 0;
			display: block;
			text-align: right;
			color: $off-white;
		}

		a.active {
			border: none;
			color: $blue !important;
		}
	}
}

nav.mobile + div#m-nav {
	padding-top: 1.875rem;
	padding-bottom: 1.875rem;
	@extend .side-padding;
	position: fixed;
	z-index: 100;
	right: 0;
	mix-blend-mode: exclusion;

	div.m-button {
		height: 24px;
		width: 24px;
		position: relative;

		div.line {
			background-color: $dark-blue;
			border-radius: 100px;
			height: 3px;
			position: absolute;
			right: 0;
		}

		div.line:nth-child(1) {
			bottom: 10px;
			width: 70%;		
		}

		div.line:nth-child(2) {
			bottom: 0;
			width: 100%;
		}
	}
}
