@import 'layout';

nav	{
	width: 100%;
	position: fixed;
  padding: 2rem 1.875rem;
  z-index: 100;

  img.close {
    width:20px;
    height:20px;
    top: 30px;
    position: absolute;
    right: 95px;
  }
}

@mixin p-name {
  color: $color-p-dark;
  font-family: $gilroy-bold;
  font-size: 18px;
  line-height: 120%;
  letter-spacing: -1%;
  mix-blend-mode: color-dodge;
}

@mixin p-job {
  color: $color-black;
  font-family: $gilroy-light;
  font-size: 17px;
  line-height: 120%;
  letter-spacing: -1.5%;
  mix-blend-mode: color-dodge;
}

p.name { @include p-name; }
p.job { @include p-job; }

nav.light p.name { color: $color-off-white; }
nav.light p.job { color: $color-off-white; }
